.projectPageContainer{
  width: 100%;
  padding: 5rem 5%;
}
.categoryheader{
  color: var(--tertiarycolor);
  margin-bottom: 4rem;
  font-weight: var(--bold);
  font-size: var(--primaryheaderfont);
}
.projectheader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fontadjust{
  font-size: var(--primaryheaderfont) !important;
}
.webicons{
  width: 2rem;
  height: 2rem;
  transform: translateY(15%);
  margin-right: 0.5rem;
}
.webicons path{
  fill: var(--tertiarycolor);
}

.projectcardContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
