.projectPageContainer{
  width: 90vw;
  margin: 4rem 5%;
}
.categoryheader{
  color: var(--tertiarycolor);
  margin-bottom: 4rem;
  font-weight: var(--bold);
  font-size: var(--primaryheaderfont);
}
.projectheader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fontadjust{
  font-size: var(--primaryheaderfont) !important;
}
.webicons{
  width: 2rem;
  height: 2rem;
}
.webicons path{
  fill: var(--tertiarycolor);
}

.projectcardContainer{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
