.singleexp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.expheader {
  font-size: var(--quaternaryheaderfont);
}
.atcompany {
  color: rgb(245 192 192);
  font-weight: var(--thiner);
}
.companyName {
  font-style: italic;
  font-weight: var(--thiner);
}

.duration {
  color: rgb(245 192 192);
}
.impactSummary {
  margin-left: 1rem;
  padding: 0.5rem 0;
  font-size: var(--secondarytextfont);
  /* font-style: italic; */
}
.impactSummary li{
padding: 0.2rem 0;
width: 95%;
}
.class1 {
  stroke: var(--secondarycolor);
}
.class2 {
  stroke: var(--secondarycolor);
}
.class3 {
  fill: var(--tertiarycolor);
}
.class4 {
  fill: var(--secondarycolor);
}
