.navOuterContainer {
  margin: 2rem 5% 0 5%;
  padding: 1rem;
  text-align: center;
}

.navinnerContainer {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  /* justify-content: space-evenly; */
  align-items: center;
  color: var(--primarycolor);
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.list {
  padding: 0 2rem;
  font-weight: var(--medium);
  align-self: center;
}
.logo {
  color: #ec5940;
  font-size: var(--logoheading);
  font-weight: var(--normalmedium);
}
.logo a {
  text-decoration: inherit;
  color: #ec5940;
  font-size: var(--logoheading);
  font-weight: var(--normalmedium);
}

.activemenu {
  text-decoration: 3px underline var(--tertiarybgcolor);
  text-underline-offset: 4.5px;
}
.menuIcon {
  cursor: pointer;
}
.menuIcon:hover path {
  fill: #ec5940;
  transition: background-color 1s ease-out;
}
.closeMenu {
  cursor: pointer;
}
.closeMenu:hover path {
  fill: #ec5940 !important;
}
.humberger {
  z-index: 150;
}
.shiftToSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  right: 0;
  top: 0;
  width: 40%;
  height: 100vh;
  z-index: 120;
  padding: 10rem 5%;

  background-color: var(--quaternarybgcolor);
  color: white;
}
.shiftToSide li {
  font-size: var(--quaternaryheaderfont);
  font-weight: var(--medium);
  margin: 1.5rem 0;
}
.shiftToSide li a {
  color: inherit;
}
.removeMenuSidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .navinnerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    position: absolute;
    left: -200%;
  }
  .mobileview {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    left: 0%;
    top: 6rem;
    background-color: var(--primarybgcolor);
    z-index: 110;
    height: 90vh;
    margin-top: 2rem;
  }
  .mobileview li {
    font-size: var(--quaternaryheaderfont);
    font-weight: var(--medium);
    margin: 1.5rem 0;
  }
}
